:root {
    --background_color: #F5F5F3;
    --text: #0F1821;
    --white_widget: #FFFFFF;
    --dark_blue_widget: #134681;
    --blue_widget: #013D76;
    --light_blue_button_color: #2A6EC5;
    --border_box_color: #868282;

    font-family: Inter, sans-serif;
}

/*TEST FOR LATER*/
header {
    position: relative;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background: var(--background_color);
}
.header_svg {
    display: block;
    width: 100%;
    height: auto;
}
/*--------------*/

body {
    margin: 0;
    background: var(--background_color);
}

/*UTILITY*/
.display_container_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display_container_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*FOOTER*/
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background: var(--background_color);
}

.footer_svg {
    display: block;
    width: 100%;
    height: auto;
}

/*NAVIGATION*/
.nav_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white_widget);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav p {
    font-size: 2rem;
}

.nav_logo {
    width: 174px;
    height: 100px;
}


.carport_slider {

}

.video_container {

}

.fragment_div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}