<head th:replace="~{fragments :: head(registerInfo)}"> <title>Registrer Information</title></head>
<header th:replace="~{fragments :: header}"></header>

<body>
<main>
    <div class="register_section_container">
    <section class="create_user_section">
        <div class="display_container_vertical">
            <h1 class="white_text">Indtast Information</h1>
            <form class="register_form" th:action="@{/create_user}" method="POST">
                <label for="first_name" hidden>Indtast Fornavn:</label>
                <input class="input_no_border_white" type="text" id="first_name" name="first_name" placeholder="Navn" required />
                <label for="last_name" hidden>Indtast Efternavn:</label>
                <input class="input_no_border_white" type="text" id="last_name" name="last_name" placeholder="Efternavn" required />
                <label for="postcode" hidden>Indtast Postnummer:</label>
                <input class="input_no_border_white" type="text" id="postcode" name="post_code" placeholder="Postnummer" required />
                <label for="street_name" hidden>Vejnavn:</label>
                <input class="input_no_border_white" type="text" id="street_name" name="street_name" placeholder="Vejnavn" required />
                <label for="street_number" hidden>Vejnummer:</label>
                <input class="input_no_border_white" type="text" id="street_number" name="street_number" placeholder="Vejnummer" required />
                <label for="floor" hidden>Etage:</label>
                <input class="input_no_border_white" type="text" id="floor" name="floor" placeholder="Etage"  />
                <div class="button_row_info_page">
                <button class="button_white" type="submit">Velkommen</button>
                </div>
            </form>
            <p th:if="${session.register_info_error != null}" th:text="${session.register_info_error}" style="color: red; font-weight: bold"></p>
        </div>
    </section>
    </div>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>