<head th:replace="~{fragments :: head(~{::product})}"><title>Produkt</title></head>
<header th:replace="~{fragments :: header}"></header>
<body>
<section>
<div class="display_container_vertical">
<div class="display_container_horizontal">
    <div class="content_holder">
        <img class="product_page_image" th:src="@{'/images/' + ${carport.carportID} + 'carport.png'}" alt="Carport image" />
    <div class="product_text_field">
    <h3 th:text="${carport.name}"></h3>
    <p th:text="${carport.productionDescription}"></p>
        <div class="row_price_content_holder">
        <div class="row_price">
        <span class="slider_product_page_price" th:text="${carport.price}"></span>
        <span class="slider_product_page_price_addition"> pr.stk + evt. fragt</span>
        </div>
        <form class="add_to_cart_form" th:action="@{/add_to_cart}" method="POST" onsubmit="event.preventDefault(); addToCart(this)">
            <input type="hidden" name="carportID" th:value="${carport.carportID}"/>
            <input type="hidden" name="productName" th:value="${carport.name}"/>
            <input type="hidden" name="productThumbnail" th:value="@{'/images/' + ${carport.carportID} + 'carport.png'}"/>
            <input type="hidden" name="productPrice" th:value="${carport.price}"/>
            <div class="add_amount_row">
                <button class="product_page_button" type="button" onclick="decreaseOne()">-</button>
                <input class="product_page_counter" type="number" min="1" max="100" id="counter_number" name="amount" value="1" readonly required />
                <button class="product_page_button" type="button" onclick="increaseOne()">+</button>
            </div>
            <button type="submit" class="add_to_cart_button">Læg i kurv
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 -6 24 24" fill="none">
                <path d="M18 12L5 12M18 12L14 16M18 12L14 8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></button>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
</section>
<section class="product_page_info_section">
<div class="display_container_vertical">
    <div class="product_info_box">
        <div class="product_description_header">
        <h3>Produktbeskrivelse</h3>
        <button class="product_description_button">+</button>
        </div>
        <div class="product_description_content">
        <p th:text="${carport.productionDescription}" style="font-size: 13px;"></p>
        </div>
    </div>
    <div class="product_info_box">
        <div class="product_description_header">
            <h3>Specifikationer</h3>
            <button class="product_description_button">+</button>
        </div>
        <div class="product_description_content">
            <p th:text="'EAN: ' + ${carport.specification.EAN}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <h3 style="font-size: 13px;">Produktdetaljer</h3>
            <p th:text="'Model: ' + ${carport.specification.model}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Plads til: ' + ${carport.specification.roomFor} + ' biler'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Redskabsrum: ' + ${carport.specification.shed}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <h3 style="font-size: 13px;">Materialer</h3>
            <hr class="specification_hr"/>
            <p th:text="'Stolper: ' + ${carport.specification.post.getSpecificName()}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Rem spærtre: ' + ${carport.specification.beam.getSpecificName()}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Spær spærtre: ' + ${carport.specification.rafter.getSpecificName()}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Tag: ' + ${carport.specification.roof.getSpecificNameRoof()}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Stern: ' + ${carport.specification.fasciaBoard.getSpecificName()}" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <h3 style="font-size: 13px;">Carport Mål</h3>
            <hr class="specification_hr"/>
            <p th:text="'Længde: ' + ${carport.specification.length} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Bredde: ' + ${carport.specification.width} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Højde (forside): ' + ${carport.specification.heightFront} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Højde (bagside): ' + ${carport.specification.heightRear} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Tag længde: ' + ${carport.specification.roofLength} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Tag bredde: ' + ${carport.specification.roofWidth} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Udvendig bredde på stolper: ' + ${carport.specification.exteriorWidthAtPost} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Parkeringsareal længde: ' + ${carport.specification.parkingLength} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Parkeringsareal bredde: ' + ${carport.specification.parkingWidth} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <h3 style="font-size: 13px;">Redskabsrum</h3>
            <hr class="specification_hr"/>
            <p th:text="'Dybde: ' + ${carport.specification.shedDepth} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
            <p th:text="'Bredde: ' + ${carport.specification.shedWidth} + ' cm'" style="font-size: 12px;"></p>
            <hr class="specification_hr"/>
        </div>
    </div>
    <div class="product_info_box">
        <div class="product_description_header">
            <h3>Levering</h3>
            <button class="product_description_button">+</button>
        </div>
        <div class="product_description_content">
            <h3 style="font-size: 13px;">Leveringstype: Levering med lastbil</h3>
            <p style="font-size: 12px;">Levering/forsendelse<br>
                Levering med lastbil på fredage.<br>
                Sjælland: Gratis levering<br>
                Fyn og Jylland: 2.500,- pr. bestilt enhed.</p>
        </div>
    </div>
    <div class="product_info_box">
        <div class="product_description_header">
            <h3>Dokumenter og Links</h3>
            <button class="product_description_button">+</button>
        </div>
        <div class="product_description_content">
            <a th:href="@{/product/pdf/{EAN}(EAN=${carport.specification.EAN})}" target="_blank">Se og Download PDF</a>
        </div>
    </div>
</div>
</section>
<section id="carport_section" class="carport_slider_section">
    <div class="slider_container">
        <div class="slider">
            <div class="product_card_slider" th:each="carport : ${standard_carports}"
                 th:value="${carport.carportID}">
                <a class="product_card_link" th:href="@{${carport.carportID}}">
                    <img th:src="@{'/images/' + ${carport.carportID} + 'carport.png'}" alt="Carport Billede">
                    <h3 th:text="${carport.name}"></h3>
                    <p th:text="${carport.productionDescription}"></p>
                    <span class="slider_product_price" th:text="${carport.price} + ' kr.'"></span>
                    <a class="slider_view_button" th:href="@{${carport.carportID}}">
                        SE PRODUKT
                    </a>
                </a>
            </div>
        </div>
    </div>
</section>
<script src="/js/script.js"></script>
</body>
<footer th:replace="~{fragments :: footer}"></footer>