<head th:replace="fragments :: head(~{::register_password})"><title>Opret Kodeord</title></head>

<header th:replace="~{fragments :: header}"></header>

<body>
<main>
    <div class="register_section_container">
    <section class="register_section">
        <div class="display_container_vertical">
            <h1 class="white_text">Opret Konto</h1>
            <form class="register_form" th:action="@{/register_password}" method="POST">
                <label for="email" hidden> Vælg E-mail:</label>
                <input class="input_no_border_white" type="email" id="email" name="email" placeholder="E-mail" required />
                <label for="password" hidden>Vælg Adgangskode:</label>
                <input class="input_no_border_white" type="password" id="password" name="password" placeholder="Password" required />
                <label for="confirm_password" hidden>Bekræft Adgangskode:</label>
                <input class="input_no_border_white" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required />
                <div class="button_row">
                <button class="button_white" type="submit">Opret</button>
                <a class="button_white_non_button" href="/#login_section" >Log ind</a>
                </div>
                <p style="text-align: end;position: relative;top: -10%;right: 7.6%;">Har du en konto?</p>
            </form>
        </div>
    </section>
    </div>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>


