<head th:replace="fragments :: head(~{::register_password})"><title>Opret Kodeord</title></head>

<header th:replace="~{fragments :: header}"></header>

<body>
<main>
    <section>
        <h1 id="title">Opret Konto</h1>
        <div>
            <form class="register_form" th:action="@{/registerPassword}" method="POST">
                <label for="email"> Vælg E-mail:</label>
                <input type="email" id="email" name="email" placeholder="E-mail" required />
                <label for="password">Vælg Adgangskode:</label>
                <input type="password" id="password" name="password" placeholder="Password" required />
                <label for="confirm_password">Bekræft Adgangskode:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required />
                <button type="submit">Opret</button>
            </form>
            <p>Har du allerede en konto? <a th:href="@{/login}">Log ind</a></p>
        </div>
    </section>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>